.BandCard {
    display: flex;
    justify-content: center;
    background-color: rgb(32, 30, 30);
    border: solid rgb(80, 80, 80);
    font-size: 1.25em;
}

.StyleList {
    justify-content: center;
    text-align: left;
}