.Like {
    display: flex;
}
  
.Like > h1 {
	padding: 0.5em;
	margin: 0;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.Like > button {
	font-size: 1em;
	width: 50px;
	margin: 0;
	background-color: #eee;
	border: none;
	border-top: 3px solid;
	border-bottom: 3px solid;
}

.Like > button:first-child {
	border-left: 3px solid;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
    background-color: #242222;
}

.Like > button:last-child {
	border-right: 3px solid;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
    background-color: #242222;
}